<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>gui-sec</display-name>
    
    <listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>

    <!-- <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>file://${env:ERABLE_CONFIG_DIR}/${env:ERABLE_SERVICE}wk-log4j2.xml</param-value>
    </context-param> -->

    <servlet>
        <servlet-name>Jersey RESTful Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.erable.server
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey RESTful Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
