<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration level="error">
	<Properties>
		<Property name="emitterName">sec</Property>
		<Property name="emitterVersion">0.0.1</Property>
	</Properties>
	<Appenders>
		<RollingFile name="FileAppender" fileName="input/sec-input.log"
			filePattern="input/sec-input_%d{MM-dd-yyyy}.log">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			ignoreExceptions="false">
			<PatternLayout pattern="%m%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/sec.log"
			filePattern="logs/$${date:yyyy-MM}/sec%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
		<Logger level="trace" name="filer">
			<AppenderRef ref="FileAppender" />
		</Logger>
		<logger name="com.erable" level="info">
			<appender-ref ref="RollingFile" />
		</logger>


	</Loggers>
</Configuration>
